@import "colors/_manifest";

header {
  background-color: $primary-accent;
  color: $white;
}

li {
  background-color: $gray-light;
  border: 2px solid $gray-dark;
  color: $beige;
}

footer {
  color: $gray-light;
}
