@import "colors/_manifest";

header {
  background-color: $primary-accent;
  color: $white;
}

footer {
  color: $gray-light;
}

.headerStyle {
  border-bottom: 2px solid $gray-light;
}

.grid-container li {
  color: $gray-dark;
  background-color: $beige;
  border: 3px solid $gray-light;
  border-radius: 4px;
}

.smallgrid1 {
  background-color: $primary-accent;
  border: 3px solid $gray-dark;
  color: $black;
}

.colorSection {
  margin: 1em;
}

.colorDiv {
  border: 3px solid $gray-light;
  border-radius: 4px;
  padding: 1em;
  margin: .5em;
}

.white {
  background-color: $white;
}

.black {
  color: $white;
  background-color: $black;
}

.gray-light {
  background-color: $gray-light;
}

.gray-dark {
  background-color: $gray-dark;
}

.beige {
  background-color: $beige;
}

.accent {
  background-color: $primary-accent;
}


