@import "typography/_manifest";

body {
  font-family: $main-font;
}

header {
  font-size: 2.618em;
}

nav {
  font-size: 1.818em;
  text-align: center;
}

main {
  font-size: 1.618em;
}

footer {
  font-size: 1.618em;
  text-align: center;
}

.grid-container {
  text-align: center;
}

