doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/app.css')
    link(rel='stylesheet', href='stylesheets/prism.css')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Judson|Josefin+Sans', rel='stylesheet', type='text/css')
  body
    header
      h1
        a(href='/')
          span.logo Gilt Guide
      h2 A Style Guide for Gilt
    nav.grid_3
      ul
        li.baseNav
          a(href="/layout") Scaffolding and Layout
        li.baseNav
          a(href="/typography") Typography and Colors
        li.baseNav
          a(href="/forms") Forms and Buttons
        li.baseNav
          a(href="/nav") Navigation
        li.baseNav
          a(href="/modules") Modules

    main.grid_7

      block content

    footer.grid_12
      p ©Katie Reid 2015

    script(src='javascripts/prism.js')


