extends base

block content

  h1 Forms Page
  p Wayfarers leggings flannel, asymmetrical raw denim dreamcatcher squid Thundercats.
    | Kogi PBR plaid flexitarian four loko, squid Odd Future put a bird on it skateboard.
    | Before they sold out Banksy mixtape pug sartorial vegan. Literally post-ironic
    | slow-carb, cold-pressed seitan keffiyeh semiotics mustache wolf retro gluten-free.
    | Brooklyn tattooed pug, tote bag selvage cray craft beer locavore hella tousled
    |mixtape.

  p Scenester Kickstarter small batch, readymade +1 quinoa lumbersexual Banksy beard
    | squid. You probably haven't heard of them seitan direct trade retro.

  p Gastropub vegan cray, Odd Future trust fund gluten-free 8-bit. Yr iPhone
    | leggings, organic art party beard fingerstache +1 banh mi bitters occupy
    | cold-pressed fashion axe direct trade lomo. Next level actually PBR Brooklyn.
    | PBR mustache narwhal beard, viral Marfa keytar banh mi seitan mixtape. Bushwick
    | authentic slow-carb fashion axe, pickled deep v Truffaut Williamsburg fingerstache
    | tilde food truck. Tilde pour-over viral organic leggings vegan, PBR bespoke
    | whatever sriracha kitsch. Vegan wolf food truck post-ironic brunch.

  p Kickstarter try-hard organic, sartorial bespoke cray flexitarian you probably
    | haven't heard of them narwhal PBR. 3 wolf moon vinyl migas High Life pug. Tote
    | bag vegan taxidermy, pork belly Austin gluten-free cred locavore church-key.
    | Pork belly chillwave viral Austin. Umami banjo Neutra seitan yr, meh cred direct
    | trade freegan disrupt Bushwick. Cronut ennui chia asymmetrical American Apparel.
    | Kitsch butcher stumptown tofu Neutra ethical, chillwave Pinterest single-origin
    | coffee.
