extends base

block content

  h1.headerStyle Forms and Buttons

  h2 Forms

  p Code for forms should be kept in either the _variables.scss stylesheet in the forms folder
    | or the _forms.scss partial depending on if it is logic code or not.

  p At the very top of the Gilt homepage is a Search bar. This search form
    | is to be located at the top right of the header (more in Modules) and is
    | quite important as the main way users search for items and sales. The code should
    | look like this:

    pre
      code.language-css.

        .headerSearch {
          @include span-columns(4);
          font-family: $italic-font;
          font-style: italic;
          background-color: $gray-light;
          color: $black;
          padding: .3em;
        }

        .headerSearch:hover {
          background-color: $white;
        }

        .headerSearch:focus {
          background-color: $white;
        }

  p The search bar should like this:

    div.fontDiv.grid_12

      form

        div.headerSearchDiv

          input.headerSearch(type='text', placeholder='Search')

  p There is another Search bar that appears about half way down the page
    | after the first set of sales so that if users scroll down through the
    | sales and don't see anything they like, they have an easy opportunity to search
    | again here. The code should look like this:

    pre
      code.language-css.
        .fullSearch {
          @include span-columns(12);
          font-family: $italic-font;
          font-style: italic;
          font-size: $large-font;
          text-align: center;
          background-color: $beige;
          color: $gray-dark;
          padding: .8em;
        }

  p The bar takes up the whole width of the page and should look like this:

    form

      input.fullSearch(type='text', placeholder="Can't find what you're looking for?")

  h2 Buttons

  p Without buttons our users couldn't search or buy anything so buttons are
    | absolutely crucial. They are most often in $primary-accent because we want
    | to grab the user's attention.

  p First are the "Shop this Sale" and "Add to Cart" buttons. The shop button appears over the featured sale Modules
    | and users click it to look at the individual items of a sale. The add to cart button appears on the
    | individual item's page and looks nearly identical to the shop button. The code should look like this:

    pre
      code.language-css.

        .shop-add-button {
          @include span-columns(4);
          background-color: $primary-accent;
          color: $white;
          font-family: $main-font;
          padding: .8em;
          border-radius: .5em;
          border: none;
        }

    p While the buttons should end up looking like this:

    button.shop-add-button Shop this Sale

    button.shop-add-button Add to Cart

  p.grid_12 For the Search fields there should be a magnifying class icon that users can click on
    | to submit their search form. It appears on both of the above search fields.

    pre
      code.language-css.

        .searchSubmit {
          @include span-columns(1);
          margin:0;
          border: none;
          background-color: inherit;
          color: inherit;
        }

    p It'll look like this:

    div.fontDiv.grid_12

      button.searchSubmit(type='submit')

        img.searchImg(src='images/search.svg')

  p That should cover it for forms and buttons on Gilt's site!




