extends base

block content

  h1.headerStyle A Style Guide for Gilt

  p The HTML and CSS guidlines for the styling of Gilt. Included is global stlying for the basic scaffolding and layout, for the colors
    | and typography, then forms and buttons, the navigation, and all the other modules.

  p The styling is described with both an example of the component and
    | with sample code.

  p This site was built using Node JS, Express, with Sass, my Bower package, Saskatoon, and of course,
    | HTML (written in Jade). A seperate grid system was used to make this site and is part of a colleague's
    | Bower package (SassyPants by Ben Spears) while Neat was used as the grid system for Gilt's styling.

  a(href="http://www.gilt.com") Gilt's Site

