doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/app.css')
  body
    header
      h1 Gilt Guide: A Style Guide for Gilt
  nav
    ul
      li
        a(href="/layout") Scaffolding and Layout
      li
        a(href="/typography") Typography and Colors
      li
        a(href="/forms") Forms and Buttons
      li
        a(href="/nav") Navigation
      li
        a(href="/modules") Modules

  block content

  footer
    p ©Katie Reid 2015

