extends base

block content

  h1.headerStyles Navigation

  p Navigation for Gilt is divided into two parts. First, is the navigation that is
    | always visible to the user as part of the header. The categories are always the same and
    | should remain that way, in $white and with the $main-font in all caps. The code is as follows:

    pre
      code.language-css.

        .headerNav {
          @include span-columns(12);
          background-color: $black;
        }

        .headerNav li  {
          @include span-columns(2 of 12);
          text-transform: uppercase;
          margin: .2em;
          padding: .2em;
          border: none;
          font-size: $small-font;
          background-color: $black;
          color: $white;
          font-family: $main-font;
        }

  p Rendering like this:

    nav.headerNav

      ul

        li Women

        li Men

        li Baby &amp; Kids

        li Home

        li City

        li Travel

  p The other navigation menu one will find on Gilt is the nav that pops
    | up when a user hovers over one of the categories in the header nav.
    | Below is a sample of how the category-specific nav might look:

    p The code:

      pre
        code.language-css.
          .catNav {
            @include span-columns(12);
            border: 8px solid $gray-dark;
            background-color: $white;
          }

          .catNavItem {
            font-family: $primary-font;
            color: $gray-dark;
            background-color: $white;
            font-size: $smallest-font;
            text-align: left;
          }

          .catNavItem:hover {
            color: $white;
            background-color: $primary-accent;

          }

    p A simple category-specific nav menu might look like this:

      nav.catNav

        ul.catNavList

          li.catNavItem.headerStyle

            span.black-italic Today's Sales
            span.gold-italic View all Sales

          li.catNavItem Free People

          li.catNavItem Christian Louboutin Shoes and Handbags

          li.catNavItem DL1961

          li.catNavItem Kate Somerville

          li.catNavItem 250 Key Spring Shoes

          li.catNavItem Designer Wedding Dresses

          li.catNavItem Elizabeth and James

          li.catNavItem Atwell

    p Other menus found on Gilt's site would be variations of the category-specific menu.



