//Main site fonts

$main-font: applegothic;

//Gilt fonts

$primary-font: 'Droid Sans', sans-serif;

$primary-font-bold: 'Droid Sans', sans-serif, bold;

$logo-font: 'Judson', serif;

$italic-font: 'Georgia', italic;

$secondary-font: 'Josefin Sans', sans-serif;
