//Main site fonts

$main-font: applegothic;

//Gilt fonts

$primary-font: 'Droid Sans', sans-serif;

$logo-font: 'Judson', serif;

$italic-font: Georgia;

$secondary-font: 'Josefin Sans', sans-serif;

//font-sizes

$largest-font: 2.618em;

$large-font: 1.618em;

$regular-font: 1em;

$small-font: .618em;

$smallest-font: .382em;
