$white: rgb(255, 255, 255);

$white-opacity: rgba(255, 255, 255, .5);

$black: rgb(0, 0, 0);

$black-opacity: rgba(0, 0, 0, .5);

$gray-light:rgb(184,184,184);

$gray-dark:#737373;

$beige:#f9f8f6;

$primary-accent:#c98702;
